:root{
    --pr-color: #048853;
    --white : #fff !important;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3fff4;
}


.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}
.nav-link{
    font-weight: 700;
}

.button-primary{
    width: 133px;
    height: 40px;
    color: #fff !important;
    /* background-color: var(--white); */
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.button-secondary{
    width: 133px;
    height: 40px;
    color: var(--pr-color);
    /* background-color: var(--white); */
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
}